<footer class="nav-bottom">
  <a class="bga-brand" href="https://www.bettergov.org/" title="Better Government Association" target="_top">
    <i class="icon--bga-logo"></i>
    <!-- <div class="tagline"> Better Government Association
      <br> Illinois’ Non-Partisan Full-Service Watchdog </div> -->
  </a>
  <button class="share caps sans">Share</button>
  <ul class="share-menu">
    <a class="share--facebook" title="Share on Facebook" href="#"><i class="icon--facebook"></i></a>
    <a class="share--twitter" title="Share on Twitter" href="#"><i class="icon--twitter"></i></a>
    <a class="share--email" title="Email" href="#"><i class="icon--email"></i></a>
    <a class="share--print" title="Print" href="#"><i class="icon--print"></i></a>
  </ul>
</footer>