{% from "_macros.njk" import build_content %}

<section class="story">

<p><span class="dropcap">L</span>orem ipsum dolor sit amet, consectetur adipiscing elit. Duis massa dolor, auctor iaculis arcu ultricies, rhoncus placerat sapien. Proin viverra nisi elit. Mauris congue, mi sed gravida euismod, massa sem imperdiet ipsum, ac placerat nisl quam ut velit.</p>

<p>Suspendisse ornare dolor non lorem consectetur consectetur. Nullam vel mauris eu nibh pellentesque interdum. Suspendisse ultricies, arcu quis accumsan condimentum, tortor lectus venenatis ligula, vel interdum mauris ipsum bibendum arcu. Donec condimentum cursus tortor, vel porttitor nisi consequat at. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

<p>Nunc id suscipit turpis, in gravida nulla.</p>

<p>Nulla neque ipsum, vestibulum a mi lobortis, euismod pellentesque enim. Fusce pretium libero ut lorem porttitor, eget vestibulum est dictum. Duis blandit, orci vel aliquet lobortis, sapien ex hendrerit metus, ut dignissim tortor enim sed diam. Morbi et vehicula quam, id porta ex. Pellentesque vulputate quis nisl ac ornare.</p>

{{ build_content(ARCHIE.story) }}
</section>