@import '~bga-style/scss/webpack';

.dropcap,
.story > p:first-child::first-letter {
  font-size: unset;
  float: unset;
  font-weight: unset;
  padding-right: unset;
}

.card.event {
  float: unset;
  margin-left: unset;
  max-width: unset;
  @include fit-paragraph;
}

.tag {
  background: gray;
  color: white;
  font-family: $sans;
  padding: 0.3rem 0.25rem 0.2rem;
  text-transform: uppercase;
}

.rail {
  height: 500px;
  background: lightgrey;
  float: right;
  position: sticky;
  top: 1rem;
}
